{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}auxilary_material{% endblock %}
{% block css %}
<!-- 本网页包含的特定css -->
<!-- DataTables CSS -->
<link href="{% static 'BASE/datatables/css/dataTables.bootstrap.css' %}" rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link href="{% static 'BASE/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="{% static 'css/SM/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'css/SM/ionicons.min.css' %}" rel="stylesheet">
<link href="{% static 'css/SM/assets/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'css/SM/lightbox.min.css' %}" rel="stylesheet">
<!-- Main Stylesheet File -->
<link href="{% static 'css/SM/style.css' %}" rel="stylesheet">
<!-- Jquery.datatables.css -->
<link href="{% static 'BASE/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
<style>
	.button {
	  display: inline-block;
	  padding: 5px 10px;
	  font-size: 8;
	  cursor: pointer;
	  text-align: center;   
	  text-decoration: none;
	  outline: none;
	  color: #000;
	  background-color: #fff;
	  border: none;
	  border-radius: 15px;
	  box-shadow: 0 9px #999;
	}

	.button:hover {background-color: #337ab7}

	.button:active {
	  background-color: #3e8e41;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);
}
</style>
<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
{% endblock %}

{% block content %}
<section id="portfolio"  class="section-bg"  >
	<div class="container" >

		<header class="section-header">
			<h3 class="section-title">部门架构及人员组成</h3>
		</header>

		<div class="row">
			<div class="col-lg-12">
				<ul id="portfolio-flters">
					<div id="department_li">
						<li id="all" data-filter="*" class="filter-active">All</li>
						{% for department in departments %}
							<li id="{{ department.id }}" data-filter=".filter-{{ department.id }}" >{{ department.name }}</li>
	                    {% endfor %}
					</div>
                    <div>
	                    <button id="department_create" class="button">Create</button>
	                    <button id="department_edit" class="button">Edit</button>
	                    <button id="department_delete" class="button">Delete</button>
	                	<button id="department_Save" class="button">Save</button>
	                    <button id="department_Cancel" class="button">Cancel</button>
                	</div>
				</ul>
				
			</div>
		</div>
		<hr />
		<div id="post_list" class="row portfolio-container">
			{% for departmentpost in DepartmentPosts %}
				<div class="col-lg-4 col-md-6 portfolio-item filter-{{ departmentpost.department_id.id }} wow fadeInUp">
					<div class="portfolio-wrap">
						<div class="portfolio-info">
							<h4>岗位名称：{{ departmentpost.department_post_name }}</h4>
							<p>部门名称：{{ departmentpost.department_id.name }}</p>
							<p>管理权限:
							{% if departmentpost.access_right_1 %}
								员工;
							{% endif %}
							{% if departmentpost.access_right_2 %}
								焊材;
							{% endif %}
							{% if departmentpost.access_right_3 %}
								WPS;
							{% endif %}
							{% if departmentpost.access_right_4 %}
								焊接项目;
							{% endif %}
							</p>
							<div align="right">
								<a id="{{ departmentpost.id }}" href="{% url 'Staff_Management:edit_post' departmentpost.id %}">Edit</a>
								<a href="javascript:if(confirm('确实要删除该内容吗?')){location='{% url 'Staff_Management:delete_post' departmentpost.id %}'}">Delete</a>
							</div>
						</div>
					</div>
				</div>
            {% endfor %}
		</div>
		<a id="new_post" class="button" href= "{% url 'Staff_Management:add_post' %}">New</a>
	</div>
	<hr />
	
	<!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>人员管理</p>
                </div>
                <div class="panel-body">
                    <table  width="100%" class="display" id="staff_table" class="display">
				        <thead>
				            <tr>
				            	<th>编号</th>
				                <th>用户</th>
	                            <th>邮箱</th>
	                            <th>电话</th>
	                            <th>职位</th>
	                            <th>绩效</th>
				            </tr>
				        </thead>
				        <tbody>
				        {% for staff in staffs %}
				            <tr>
				            	<td>{{ staff.user.id }}</td>
				                <td>{{ staff.user.username }}</td>
	                            <td>{{ staff.user.email }}</td>
	                            <td>{{ staff.telephone_number }}</td>
	                            <td>{{ staff.post }}</td>
	                            <td>{{ staff.performance }}</td>
				            </tr>
				        {% endfor %}
				        </tbody>
				    </table>
				    <button id="table_create">Create</button>
				    <button id="table_delete">Delete</button>
				    <button id="table_edit">Edit</button>
				    <button id="table_detail">Detail</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div id="myModal" class="modal">
		<!-- Modal content -->
		<div id = "V1" class="modal-content">
			<span class="close">&times;</span>
			<div>
				<p>用户名:<input type="text" id="create_username"  size="10"></p>
	            <p>邮箱:<input type="text" id="create_email"  size="10"></p>
	            <p>电话:<input type="text" id="create_telephone"  size="10"></p>
	            <p>职位:
		            <select id="create_post">
						
					</select>
	            </p>
	            <hr />
	            <button id="confirm" class="button">确认</button>
			</div>
		</div>
		<div id = "V2" class="modal-content2">
			<span class="close">&times;</span>
			<div id = "V3"></div>
		</div>
	</div>
</section><!-- #portfolio -->
<!-- 本网页内容 -->
{% endblock %}
{% block script %}
<!-- 本网页包含的特定JavaScript -->
<script src="{% static 'js/SM/jquery-migrate.min.js' %}"></script>
<script src="{% static 'js/SM/superfish.min.js' %}"></script>
<script src="{% static 'js/SM/wow.min.js' %}"></script>
<script src="{% static 'js/SM/waypoints.min.js' %}"></script>
<script src="{% static 'js/SM/counterup.min.js' %}"></script>
<script src="{% static 'js/SM/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/SM/lightbox.min.js' %}"></script>
<script src="{% static 'js/SM/jquery.touchSwipe.min.js' %}"></script>
<!-- Contact Form JavaScript File -->
<script src="{% static 'js/SM/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/SM/main.js' %}"></script>
<script src="{% static 'js/SM/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/SM/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/SM/dataTables.responsive.js' %}"></script>

<script>
	$(document).ready(function(){
		$("#department_Save").hide();
		$("#department_Cancel").hide();
		function modify_operation() {
			$("#department_Save").hide();
			$("#department_Cancel").hide();
			$("#department_create").show();
			$("#department_edit").show();
			$("#department_delete").show();
		}
		function ensure_operation() {
			$("#department_Save").show();
			$("#department_Cancel").show();
			$("#department_create").hide();
			$("#department_edit").hide();
			$("#department_delete").hide();
		}
		var department_create = false;
		var department_edit = false;
		var department_delete = false;
		var ID = "";
		var old_content="";
		$("#department_create").click(function(){
			var input = document.createElement('input');
			input.setAttribute('type', 'text');
			input.setAttribute('size', 10);
			var li = document.createElement('li');
			li.setAttribute('id', 'create_department');
			li.setAttribute('data-filter', '.filter-create_department');
			li.setAttribute('class', '');
			li.append(input);
			$("#department_li").append(li);
			ensure_operation();
			ID = "create_department";
			department_create = true;
		});
		$("#department_edit").click(function(){
			var id = $(".filter-active").attr("id");
			if(id != "all")
			{
				old_content = $(".filter-active").text();
				var input = document.createElement('input');
				input.setAttribute('type', 'text');
				input.setAttribute('size', 10);
				var value = $(".filter-active").text();
				input.setAttribute('value', value);
				$("#"+id).html(input);
				ensure_operation();
				ID = id;
				department_edit = true;
			}
		});
		$("#department_delete").click(function(){
			var id = $(".filter-active").attr("id");
			if(id != "all")
			{
				old_content = $(".filter-active").text();
				$("#"+id).remove();
				ensure_operation();
				ID = id;
				department_delete = true;
			}
		});
		$("#department_Save").click(function(){
			if(department_create)
			{
				var department_name;
				department_name = $("#"+ ID).children("input").val();
				$.get("{% url 'Staff_Management:department_creat' %}", {name: department_name}, function(data){
					$("#"+ID).remove();
					var li = document.createElement('li');
					li.setAttribute('id', data);
					li.setAttribute('data-filter', ".filter-" + data);
					li.setAttribute('class', '');
					li.append(data);
					$("#department_li").append(li);
					ID = "";
					parent.location.reload();
				})
			}
			if(department_edit)
			{
				var department_name;
				department_name = $("#"+ ID).children("input").val();
				$.get("{% url 'Staff_Management:department_edit' %}", {name: department_name, old_content: old_content}, function(data){
					$("#"+ID).empty();
					$("#"+ID).append(data);
					$("#"+ID).attr('data-filter', ".filter-" + data);
					$("#"+ID).attr('id', data);
					ID = "";
					parent.location.reload();
				})
			}
			if(department_delete)
			{
				$.get("{% url 'Staff_Management:department_delete' %}", {old_content: old_content}, function(){
					ID = "";
					parent.location.reload();
				})
			}
			department_create = false;
			department_edit = false;
			department_delete = false;
			old_content="";
			modify_operation()
		});
		$("#department_Cancel").click(function(){
			ID = "";
			department_create = false;
			department_edit = false;
			department_delete = false;
			modify_operation()
			parent.location.reload();
		});
		
		var table = $('#staff_table').DataTable();
	  	$('#staff_table tbody').on( 'click', 'tr', function () {
			if ( $(this).hasClass('selected') ) {
			    $(this).removeClass('selected');
			}
			else {
			    table.$('tr.selected').removeClass('selected');
			    $(this).addClass('selected');
			}
		});
		$("#table_delete").click(function(){
			var id = table.row('.selected').data();
			if (id!=null)
			{
				if(confirm('确实要删除该内容吗?'))
				{
					table.row('.selected').remove().draw( false );
					$.get("{% url 'Staff_Management:staff_delete_confirm' %}", {staff_ID: id[0]}, function(){
						parent.location.reload();
					})	
				}
				
			}
		});
		// Get the modal
		var modal = document.getElementById('myModal');
		var staff_create = false;
		var staff_edit = false;
		var staff_ID = null;
		// Get the button that opens the modal
		$("#table_edit").click(function(){
			$("#V1").show();
			$("#V2").hide();
			var id = table.row('.selected').data();
			if (id!=null)
			{
				modal.style.display = "block";
				$.getJSON("{% url 'Staff_Management:staff_edit' %}", function(json){
					$("#create_post").empty();
					var selected = document.createElement('option');
					selected.setAttribute('value', '');
					selected.append("---------");
					$("#create_post").append(selected);
					for(j = 0; j < json.length; j++) {
						var option = document.createElement('option');
						option.setAttribute('value', json[j].pk);
						option.append(json[j].fields.department_post_name)
						if(json[j].pk==id[0])
						{
							option.setAttribute('selected', 'selected');
						}
						$("#create_post").append(option)
					}
					document.getElementById("create_username").value= ""+id[1];
					document.getElementById("create_email").value= ""+id[2];
					document.getElementById("create_telephone").value= ""+id[3];
					staff_edit = true;
					staff_ID = id[0];
				})
			}
		 
		});

		$("#table_detail").click(function(){
			$("#V1").hide();
			$("#V2").show();
			var id = table.row('.selected').data();
			if (id!=null)
			{
				modal.style.display = "block";
				$.get("{% url 'Staff_Management:staff_detail' %}",{staffid: id[0]}, function(data){
					$("#V3").empty();
					$("#V3").append(data);
				})
			}
		 
		});
		

		$("#table_create").click(function(){
			$("#V1").show();
			$("#V2").hide();
			modal.style.display = "block";
			$.getJSON("{% url 'Staff_Management:staff_create' %}", function(json){
				
				$("#create_post").empty();
				var selected = document.createElement('option');
				selected.setAttribute('value', '');
				selected.setAttribute('selected', 'selected');
				selected.append("---------");
				$("#create_post").append(selected);				
				for(j = 0; j < json.length; j++) {
					var option = document.createElement('option');
					option.setAttribute('value', json[j].pk);
					option.append(json[j].fields.department_post_name)
					$("#create_post").append(option)
				}
				staff_create = true;
			})
		});
		$("#confirm").click(function(){
			if(staff_create)
			{
				var username = $("#create_username").val();
				var email = $("#create_email").val();
				var telephone = $("#create_telephone").val();
				var post = $("#create_post").val();
				$.get("{% url 'Staff_Management:staff_create_confirm' %}", {username: username, email: email, telephone: telephone, post: post}, function(){
					parent.location.reload();
				})						
			}
			if(staff_edit)
			{
				var username = $("#create_username").val();
				var email = $("#create_email").val();
				var telephone = $("#create_telephone").val();
				var post = $("#create_post").val();
				$.get("{% url 'Staff_Management:staff_edit_confirm' %}", {staff_ID: staff_ID, username: username, email: email, telephone: telephone, post: post}, function(){
					parent.location.reload();
				})							
			}
			modal.style.display = "none";
			staff_create = false;
			staff_edit = false;
			staff_ID = null;
		});

		

		$(".close").click(function(){
			modal.style.display = "none";
			staff_create = false;
			staff_edit = false;
		});
	});
</script>
{% endblock %}