{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}auxilary_material{% endblock %}
{% block css %}
<!-- 本网页包含的特定css -->
<!-- DataTables CSS -->
<link href="{% static 'BASE/datatables/css/dataTables.bootstrap.css' %}" rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link href="{% static 'BASE/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="{% static 'css/SM/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'css/SM/ionicons.min.css' %}" rel="stylesheet">
<link href="{% static 'css/SM/assets/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'css/SM/lightbox.min.css' %}" rel="stylesheet">
<!-- Main Stylesheet File -->
<link href="{% static 'css/SM/style.css' %}" rel="stylesheet">
<style>
	.button {
	  display: inline-block;
	  padding: 5px 10px;
	  font-size: 8;
	  cursor: pointer;
	  text-align: center;   
	  text-decoration: none;
	  outline: none;
	  color: #000;
	  background-color: #fff;
	  border: none;
	  border-radius: 15px;
	  box-shadow: 0 9px #999;
	}

	.button:hover {background-color: #337ab7}

	.button:active {
	  background-color: #3e8e41;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);
}
</style>
{% endblock %}

{% block content %}
<section id="portfolio"  class="section-bg"  >
	<div class="container" >

		<header class="section-header">
			<h3 class="section-title">部门架构及人员组成</h3>
		</header>

		<div class="row">
			<div class="col-lg-12">
				<ul id="portfolio-flters">
					<div id="department_li">
						<li id="all" data-filter="*" class="filter-active">All</li>
						{% for department in departments %}
							<li id="{{ department.name }}" data-filter=".filter-{{ department.name }}" >{{ department.name }}</li>
	                    {% endfor %}
					</div>
                    <div>
	                    <button id="department_create" class="button">Create</button>
	                    <button id="department_edit" class="button">Edit</button>
	                    <button id="department_delete" class="button">Delete</button>
	                	<button id="department_Save" class="button">Save</button>
	                    <button id="department_Cancel" class="button">Cancel</button>
                	</div>
				</ul>
				
			</div>
		</div>
		<hr />
		<div id="post_list" class="row portfolio-container">
			{% for departmentpost in DepartmentPosts %}
				<div class="col-lg-4 col-md-6 portfolio-item filter-{{ departmentpost.department_id }} wow fadeInUp">
					<div class="portfolio-wrap">
						<div class="portfolio-info">
							<h4>岗位名称：{{ departmentpost.department_post_name }}</h4>
							<p>部门名称：{{ departmentpost.department_id }}</p>
							<p>管理权限:
							{% if departmentpost.access_right_1 %}
								员工;
							{% endif %}
							{% if departmentpost.access_right_2 %}
								焊材;
							{% endif %}
							{% if departmentpost.access_right_3 %}
								WPS;
							{% endif %}
							{% if departmentpost.access_right_4 %}
								焊接项目;
							{% endif %}
							</p>
							<div align="right">
								<a id="{{ departmentpost.id }}" href="{% url 'Staff_Management:edit_post' departmentpost.id %}">Edit</a>
								<a href="javascript:if(confirm('确实要删除该内容吗?')){location='{% url 'Staff_Management:delete_post' departmentpost.id %}'}">Delete</a>
							</div>
						</div>
					</div>
				</div>
            {% endfor %}
		</div>
		<a id="new_post" class="button" href= "{% url 'Staff_Management:add_post' %}">New</a>
	</div>
	

</section><!-- #portfolio -->
<!-- 本网页内容 -->
{% endblock %}
{% block script %}
<!-- 本网页包含的特定JavaScript -->
<script src="{% static 'js/SM/jquery-migrate.min.js' %}"></script>
<script src="{% static 'js/SM/superfish.min.js' %}"></script>
<script src="{% static 'js/SM/wow.min.js' %}"></script>
<script src="{% static 'js/SM/waypoints.min.js' %}"></script>
<script src="{% static 'js/SM/counterup.min.js' %}"></script>
<script src="{% static 'js/SM/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/SM/lightbox.min.js' %}"></script>
<script src="{% static 'js/SM/jquery.touchSwipe.min.js' %}"></script>
<!-- Contact Form JavaScript File -->
<script src="{% static 'js/SM/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/SM/main.js' %}"></script>
<script src="{% static 'js/SM/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/SM/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/SM/dataTables.responsive.js' %}"></script>
<script>
	$(document).ready(function(){
		function modify_operation() {
			$("#department_Save").hide();
			$("#department_Cancel").hide();
			$("#department_create").show();
			$("#department_edit").show();
			$("#department_delete").show();
		}
		function ensure_operation() {
			$("#department_Save").show();
			$("#department_Cancel").show();
			$("#department_create").hide();
			$("#department_edit").hide();
			$("#department_delete").hide();
		}
		var department_create = false;
		var department_edit = false;
		var department_delete = false;
		var ID = "";
		var old_content="";
		$("#department_create").click(function(){
			var input = document.createElement('input');
			input.setAttribute('type', 'text');
			input.setAttribute('size', 10);
			var li = document.createElement('li');
			li.setAttribute('id', 'create_department');
			li.setAttribute('data-filter', '.filter-create_department');
			li.setAttribute('class', '');
			li.append(input);
			$("#department_li").append(li);
			ensure_operation();
			ID = "create_department";
			department_create = true;
		});
		$("#department_edit").click(function(){
			var id = $(".filter-active").attr("id");
			if(id != "all")
			{
				old_content = $(".filter-active").text();
				var input = document.createElement('input');
				input.setAttribute('type', 'text');
				input.setAttribute('size', 10);
				var value = $(".filter-active").text();
				input.setAttribute('value', value);
				$("#"+id).html(input);
				ensure_operation();
				ID = id;
				department_edit = true;
			}
		});
		$("#department_delete").click(function(){
			var id = $(".filter-active").attr("id");
			if(id != "all")
			{
				old_content = $(".filter-active").text();
				$("#"+id).remove();
				ensure_operation();
				ID = id;
				department_delete = true;
			}
		});
		$("#department_Save").click(function(){
			if(department_create)
			{
				var department_name;
				department_name = $("#"+ ID).children("input").val();
				$.get("{% url 'Staff_Management:department_creat' %}", {name: department_name}, function(data){
					$("#"+ID).remove();
					var li = document.createElement('li');
					li.setAttribute('id', data);
					li.setAttribute('data-filter', ".filter-" + data);
					li.setAttribute('class', '');
					li.append(data);
					$("#department_li").append(li);
					ID = "";
					parent.location.reload();
				})
			}
			if(department_edit)
			{
				var department_name;
				department_name = $("#"+ ID).children("input").val();
				$.get("{% url 'Staff_Management:department_edit' %}", {name: department_name, old_content: old_content}, function(data){
					$("#"+ID).empty();
					$("#"+ID).append(data);
					$("#"+ID).attr('data-filter', ".filter-" + data);
					$("#"+ID).attr('id', data);
					ID = "";
					parent.location.reload();
				})
			}
			if(department_delete)
			{
				$.get("{% url 'Staff_Management:department_delete' %}", {old_content: old_content}, function(){
					ID = "";
					parent.location.reload();
				})
			}
			department_create = false;
			department_edit = false;
			department_delete = false;
			old_content="";
			modify_operation()
		});
		$("#department_Cancel").click(function(){
			ID = "";
			department_create = false;
			department_edit = false;
			department_delete = false;
			modify_operation()
			parent.location.reload();
		});
		$("#department_Save").hide();
		$("#department_Cancel").hide();
		

	});
</script>
{% endblock %}