<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BizPage Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  
  <!-- Bootstrap CSS File -->

  <link href="{%static "css/INDEX_index/bootstrap.min.css"%}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  
 
  <link href="{%static "css/INDEX_index/ionicons.min.css"%}" rel="stylesheet">
  

  <!-- Main Stylesheet File -->
  <link href="{%static "css/INDEX_index/style.css"%}" rel="stylesheet">

  
</head>

<body>
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">焊接质量管理系统</a></h1>
      </div>
    </div>
  </header><!-- #header -->

  
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{%static "images/INDEX_index/1.jpg"%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>智能焊接管理系统</h2>
                <p>焊接是经验科学,本身具有一定的挑战性,比如各行各业的标准、焊工的资质以及焊接工艺规程和大量的焊接报告等。虽然很多企业对焊接质量控制都制定了非常严格的流程,但诸如焊接工人是否在按照WPS要求操作、项目的进行是否在按照原计划进行和焊接文件的收集工作等等过程控制问题仍存在各种问题,焊接质量管理系统可以完美的解决以上的问题。系统采用模块化设计,具有如下功能:焊接人员管理、焊接工艺规程(WPS)管理、焊接项目管理和焊接报告功能。</p>
                <a href="{% url 'auth_login' %}" class="btn-get-started scrollto">登录</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{%static "images/INDEX_index/2.jpg"%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>焊接人员管理</h2>
                <p>系统能够对技术人员和焊接操作人员进行全面及深度的管理,提供多种焊工考试标准,涵盖ISO/EN/ASME,完全可以胜任焊接工作需要。该系统能够能够导入焊接人员信息并且打印,从开始焊接前就对焊工进行确认,以保证该项焊接是由正确的、有资格的和可胜任的焊工完成</p>
                <a href="{% url 'auth_login' %}" class="btn-get-started scrollto">登录</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{%static "images/INDEX_index/3.jpg"%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>焊接工艺规程(WPS)管理</h2>
                <p>焊接工艺规程(WPS)是焊接生产中的重要控制材料熔化焊焊接方法的质量要求,可谓保证质量的白皮书。系统可以生成WPS文件,直接用于焊接生产,能够保证所有焊接操作均遵循WPS的要求。WeldEye的所有焊接参数均来自W P S,所有实际焊接数据都将与WPS要求的数据进行对比及操作。在实际焊接工作中,可以将采集到的焊接数据和WPS文件进行对比,如果有焊接参数的偏差,会自动报警。</p>
                <a href="{% url 'auth_login' %}" class="btn-get-started scrollto">登录</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{%static "images/INDEX_index/4.jpg"%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>焊接项目管理</h2>
                <p>系统的亮点在于焊接数据收集、分析和文件报告。焊接项目的管理必须按照一定的流程进行。项目要明确所需的人员、WPS和设备,要明确所用的焊接材料,要明确项目的时间计划,要明确焊接相关的具体工作和质检流程。系统可以完美解决焊接项目管理的以上流程。</p>
                <a href="{% url 'auth_login' %}" class="btn-get-started scrollto">登录</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{%static "images/INDEX_index/5.jpg"%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>焊接质量控制</h2>
                <p>焊接质量管理系统不但可以实现对焊接电源的数据管理,而且可以辅助生厂商对焊接工艺人员、WPS以及重要的生产流程进行有效的管理,从而提高产品质量。</p>
                <a href="{% url 'auth_login' %}" class="btn-get-started scrollto">登录</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <!-- JavaScript Libraries -->
  <script src="{%static "js/INDEX_index/jquery.min.js"%}"></script>
  
  <script src="{%static "js/INDEX_index/bootstrap.bundle.min.js"%}"></script>
  
  
  <script src="{%static "js/INDEX_index/superfish.min.js"%}"></script>
  <script src="{%static "js/INDEX_index/wow.min.js"%}"></script>
  
  <link href="{%static "css/INDEX_index/style.css"%}" rel="stylesheet">
 

  <!-- Template Main Javascript File -->
  <script src="{%static "js/INDEX_index/main.js"%}"></script>

</body>
</html>
